.phones{
    float: left;
    margin: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    width: 49%;
}
.phones .halla{
    padding: 10px;
    text-align: center;
}

.phones:hover{
    border: 1px solid hsl(0, 0%, 20%);
}
.phones img{
    width: 100%;
    height: auto;
}
body{
    background-color: rgb(227, 247, 237);
}
#name{
    color: rgb(25, 155, 241);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 10px rgb(209, 150, 191)
}
hr{
    height: 3px;
    background-color: rgb(8, 161, 221);
    margin: 10px auto;
    width: 75%;
}
.web{
    color: black;
}
.pay{
    text-align: center;
    margin: 10px;
}
.choice{
    text-align: center;
    margin: 20px;
}
.final{
    text-align: center;
    margin: 25px;
}